<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    link(rel="stylesheet", href="styleforwishlist.css")
    <title>Wishlist</title>
</head>
<body>
    <nav>
        <h1>MA</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/wishlist">Wishlist</a></li>
        </ul>
    </nav>
    <div class="contaier" id="container">
    //- Movie data will show up here
    </div>
    script(src="/scriptWishlist.js") 
</body>
</html>